# Logs
logs
*.log
npm-debug.log*

# Coverage directory
coverage

# Dependency directory
node_modules

# build directory
dist

# ide
.vscode

# mac directories
.DS_Store

# Runtime data
pids
*.pid
*.seed
